.map-full-card-content {
  height: 90% !important;
  width: 100%;

  agm-map {
    height: calc(90%) !important;
    width: 100%;
  }
}

.padding {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
