<ion-header>
  <ion-row>
    <ion-title>Map</ion-title>
  </ion-row>
</ion-header>
<ion-content>


  <div class="map-full-card-content">
    <ion-input><input placeholder="Enter Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"></ion-input>
    <agm-map [streetViewControl]="false" [zoomControl]="false" [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-direction [origin]="origin" [destination]="destination">
      </agm-direction>
    </agm-map>
  </div>

  <ion-list class="padding">
    <ion-item *ngFor="let direction of directions">
      <ion-label>{{direction.html_instructions}} for approximately {{direction.distance.text}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
