<ion-header>
  <ion-toolbar>
    <ion-title>GiddyUp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" class="padding-top">
    <div fxLayout="row">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </div>
    <div fxLayout="row">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div fxLayout="row" fxLayoutGap="1em" class="padding-top-button">
      <ion-button [routerLink]="['/map']" (click)="login(email, password)">Driver Login</ion-button>
      <ion-button [routerLink]="['/map']" (click)="login(email, password)">Passenger Login</ion-button>
    </div>
  </div>
</ion-content>
